$buttonSize: 40px;
$buttonFontSize: 12px;
$btnIconSize: 24px;
$textButtonFontSize: 12px;
$buttonLineHeight: 45px;

$buttonColor: $cc-teal-light-7;
$borderRadius: 4px;
$border-width: 1.5px;
$border: $border-width solid $cc-charcoal-light-2;
$boxShadow: 0px 0px 5px 0px rgba($cc-charcoal, 0.4);